<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzz.practice_mybatisplus.dao.StuDao">

    <select id="getAll" resultType="Stu">
        select id,name,age,gender from stu;
    </select>

</mapper>